.all-posts {
    display: flex;
    flex-direction: column;

    .all-posts__title {
        display: flex;
        justify-content: center;
        margin-top: 12vh;
        margin-bottom: 1vh;
        font-size: clamp(1rem, 3vw, 138%);
        font-family: 'Nunito Sans';
        letter-spacing: 0.28rem;
    }

    .all-posts__posts {
        margin: 0 0.1rem 0 0.7rem;
    }


    .to-all-products {
        text-align: center;
        margin: 1rem 0;

        .to-all-products__btn {
            box-sizing: content-box;
            text-decoration: none;
            color: black;
            font-size: clamp(1.1rem, 3vw, 148%);
            padding: 0.4rem 1rem;
            border: black 0.1px solid;
            border-radius: 0.8rem;

            &:hover {
                color: blue;
                background-color: rgba(229, 229, 229, 0.178);
            }
        }
    }
}