.home-page {
    display: flex;
    justify-content: space-around;

    a {
        text-decoration: none;
        color: black;
        cursor: pointer;

        &:hover {
            color: blue;
        }
    }

    .categories-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 90vh;
        margin-top: 2.8%;
        text-align: center;
        width: 100%;

        .products {
            display: flex;
            flex-direction: column;
            height: 85%;

            .products__list {
                margin-top: 3%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                flex: 1;

                .to-category {

                    font-size: clamp(0.9rem, 3vw, 190%);
                    z-index: 10;
                    font-family: 'Barlow';
                    font-weight: 500;
                }
            }
        }

    }

    @media (max-width:50rem) {

        .categories-main {
            height: 50vh;
            gap: 25%;
        }
    }

    .products__title {
        font-family: 'Nunito Sans';
        font-weight: 400;
        font-size: 300%;
        color: rgba(20, 20, 20, 0.899);
        text-shadow: 0.8px 3px 8px rgba(0, 0, 0, 0.085);
        font-size: clamp(2rem, 5vw, 250%);
    }

    .logo-title {
        text-align: center;
        font-family: 'ADLaM Display';
        font-weight: 400;
        font-size: clamp(1.8rem, 5vw, 250%);
        margin-bottom: 0.5em;
    }

    .search {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 0;
        flex: 1;
        height: 30%;
        width: 30%;
        z-index: 100;
        margin-top: 10vh;

        .search__links {
            font-size: clamp(1rem, 3vw, 180%);
            font-family: 'Barlow';
            height: 100%;
            font-weight: 400;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .search__form {
                pointer-events: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                .search__form__label {
                    margin: 0 0 0.3rem 0;
                }

                pointer-events: all;

                #search__form__input {
                    padding: 0.7em;
                    border-radius: 0.3rem;
                    border: 0.1px solid gray;
                    font-size: clamp(0.8rem,1.8vw,1.1rem);
                    max-width: 100%;
                }
            }

            .new-post-link {
                margin-top: 1em;
            }

            .search__all-posts {
                font-family: 'Nunito Sans';
                font-size: clamp(1.3rem, 3vw, 130%);
                text-shadow: 0.08rem 0.1rem 0.2rem rgba(0, 0, 0, 0.281);
                margin-top: 1.3em;
                font-weight: 500;
            }

        }


    }

}