.home-page {
    display: flex;
    justify-content: space-around;

    .categories-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 90vh;
        margin-top: 2.8%;
        text-align: center;
        width: 100%;

        .products {
            display: flex;
            flex-direction: column;
            height: 85%;

            .products__list {
                margin-top: 3%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                flex: 1;

                .to-category {
                    font-size: 190%;
                    font-family: 'Barlow';
                    font-weight: 500;
                }
            }
        }


    }

    .products__title {
        font-family: 'Nunito Sans';
        font-weight: 400;
        font-size: 300%;
        color: rgba(20, 20, 20, 0.899);
        text-shadow: 0.8px 3px 8px rgba(0, 0, 0, 0.085);
    }

    .logo-title {
        text-align: center;
        font-family: 'ADLaM Display';
        font-weight: 400;
        // text-shadow: 0.18rem 0.2rem 0.5rem rgba(0, 0, 0, 0.281);
    }

    .search {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 0;
        flex: 1;
        height: 40vh;
        width: 100vw;
        .search__links {
            font-size: 180%;
            font-family: 'Barlow';
            height: 30%;
            font-weight: 400;
            text-align: center;
            .search__form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                .search__form__label{
                   margin: 0 0 0.3rem 0;
                }
                #search__form__input {
                    padding: 0.8rem;
                    border-radius: 0.3rem;
                    border: 0.1px solid gray;
                    font-size: 1.1rem;
                    width: 25%;
                }
            }

            .search__all-posts{
                font-family: 'Nunito Sans';
                font-size: 120%;
                text-shadow: 0.08rem 0.1rem 0.2rem rgba(0, 0, 0, 0.281);
                margin-top: 3rem;
                font-weight: 500;
            }

            .new-post-link {
                margin-top: 3rem;
            }
        }


    }

    a {
        text-decoration: none;
        color: black;
        cursor: pointer;

        &:hover {
            color: blue;
        }
    }
}